
    /*Image box
---------------------------------- */
    .search-wrapper {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .hide {
        display: none;
    }

    .slick-slide.image-box {
        margin-bottom: 20px;
    }

    .img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .image-box .body {
        padding: 15px;
    }

    .image-box .body h3 {
        margin-top: 0;
    }

    .image-box .body p:last-child {
        margin-bottom: 0;
    }

    .image-box.style-4 {
        border: none;
    }

    .image-box.style-3-b {
        display: block;
        margin-bottom: 40px;
    }

    .image-box.style-3-b .body {
        padding: 10px 0;
    }

    .image-box--shadowed {
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    .image-box--shadowed:hover {
        -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    }

    /* Medium devices (tablets, laptops, smartphones 768px and up) */
    @media (min-width: 768px) {
        .image-box.style-3-b .body {
            padding: 0;
        }
    }

    /* Medium devices (desktops, tablets less than 991px) */
    @media (max-width: 991px) {
        .image-box.style-4 {
            margin-bottom: 30px;
        }
    }

    .white-bg {
        background-color: #ffffff;
    }

    /*Images and Overlays
---------------------------------- */

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
    }

    .overlay-container {
        position: relative;
        display: block;
        text-align: center;
        overflow: hidden;

        width: 350px;
        height: 100px;
    }

    .overlay-bottom,
    .overlay-top {
        position: absolute;
        top: auto;
        padding: 15px;
        bottom: 0px;
        left: 0;
        right: 0px;
        background-color: rgba(30, 30, 30, 0.5);
        overflow: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all ease-in-out 0.25s;
        -o-transition: all ease-in-out 0.25s;
        transition: all ease-in-out 0.25s;
        height: 0;
        color: #ffffff;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
    }

    .overlay-bottom.links,
    .overlay-to-top.links {
        z-index: 11;
    }

    .overlay-to-top {
        position: absolute;
        top: auto;
        padding: 10px;
        bottom: -30px;
        left: 0;
        right: 0px;
        background-color: rgba(30, 30, 30, 0.5);
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all ease-in-out 0.25s;
        -o-transition: all ease-in-out 0.25s;
        transition: all ease-in-out 0.25s;
        color: #ffffff;
    }

    .overlay-top {
        top: 0;
    }

    .overlay-visible .overlay-bottom,
    .overlay-visible .overlay-top {
        opacity: 1;
        filter: alpha(opacity=100);
        height: auto !important;
        padding-bottom: 20px;
    }

    .overlay-visible.overlay-container:hover .overlay-bottom:not(.links),
    .overlay-visible.overlay-container:hover .overlay-top {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .overlay-top a,
    .overlay-bottom a,
    .overlay-to-top a,
    .overlay-top a:hover,
    .overlay-bottom a:hover,
    .overlay-to-top a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .overlay-container .text {
        padding: 0 20px;
        position: relative;
    }

    .overlay-container .text h3,
    .overlay-container .text h3 .small {
        margin-top: 0;
        color: #ffffff;
    }

    .overlay-container .text a:hover {
        color: #ffffff;
    }

    .overlay-bottom .btn,
    .overlay-top .btn {
        color: #ffffff;
        border-color: #ffffff;
        margin: 0;
    }

    .overlay-bottom .btn:hover,
    .overlay-top .btn:hover {
        color: #777777;
        background-color: #ffffff;
    }

    .overlay-container:hover .overlay-top,
    .overlay-container:hover .overlay-bottom,
    .image-box.style-2:hover .overlay-top,
    .image-box.style-2:hover .overlay-bottom {
        height: 50%;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
    }

    .overlay-container:hover .overlay-to-top,
    .image-box:hover .overlay-to-top {
        opacity: 1;
        filter: alpha(opacity=100);
        bottom: 0;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
    }

    .overlay-link {
        position: absolute;
        z-index: 10;
        top: 0;
        padding: 15px;
        bottom: 0px;
        left: 0;
        right: 0px;
        background-color: rgba(30, 30, 30, 0.5);
        overflow: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all ease-in-out 0.25s;
        -o-transition: all ease-in-out 0.25s;
        transition: all ease-in-out 0.25s;
        color: #ffffff;
    }

    .overlay-link i {
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        width: 80px;
        height: 80px;
        border: 1px solid #ffffff;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -40px 0 0 -40px;
        font-size: 32px;
        line-height: 80px;
    }

    .overlay-link i:hover {
        background-color: #ffffff;
        color: #777777;
    }

    .overlay-link.small i {
        width: 25px;
        height: 25px;
        margin: -12.5px 0 0 -12.5px;
        font-size: 14px;
        line-height: 25px;
    }

    .overlay-container:hover .overlay-link {
        height: 100%;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1, 1);
    }

    /* Large devices (Large desktops 1200px and up) */
    @media (min-width: 1200px) {
        .overlay-container .text {
            top: 30%;
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }


    /*Buttons with radius*/
    .radius-50 {
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }

    /*Animated Buttons*/
    .btn-animated {
        position: relative;
        min-width: 0 !important;
        padding-right: 45px !important;
    }

    .btn-animated i {
        -webkit-transition: right 0.2s ease-in-out;
        -o-transition: right 0.2s ease-in-out;
        transition: right 0.2s ease-in-out;
        z-index: 3;
        right: 17px;
        position: absolute;
        line-height: 34px;
        top: 0;
        min-width: 12px;
    }

    .btn-animated:after {
        width: 35px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        content: "";
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        right: 0px;
        z-index: 2;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .btn-animated.radius-50:after {
        border-radius: 0 50px 50px 0;
    }

    .btn-animated.btn-gray-transparent:after {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .btn-animated:hover:after {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .btn-animated:hover i {
        right: 11px;
    }

    .btn-animated.btn-sm {
        padding-right: 35px !important;
    }

    .btn-animated.btn-sm:after {
        width: 25px;
    }

    .btn-animated.btn-sm i {
        right: 14px;
        line-height: 28px;
        min-width: 11px;
    }

    .btn-animated.btn-sm:hover i {
        right: 7px;
    }

    .btn-animated.btn-lg {
        padding-right: 60px !important;
    }

    .btn-animated.btn-lg:after {
        width: 45px;
    }

    .btn-animated.btn-lg i {
        right: 25px;
        line-height: 48px;
        min-width: 15px;
    }

    .btn-animated.btn-lg:hover i {
        right: 15px;
    }

    .btn-animated.btn-xl {
        padding-right: 60px !important;
    }

    .btn-animated.btn-xl:after {
        width: 45px;
    }

    .btn-animated.btn-xl i {
        right: 25px;
        line-height: 64px;
        min-width: 15px;
        text-align: center;
    }

    .btn-animated.btn-xl:hover i {
        right: 13px;
    }

    /*Background Transition*/
    .btn-animation {
        -webkit-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .btn-animation:hover,
    .btn-animation:focus {
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .btn-animation:before {
        background-color: transparent;
        content: "";
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .btn-animation:hover:before,
    .btn-animation:focus:before {
        z-index: -1;
    }

    .btn-default-transparent.btn-animation:hover,
    .btn-default-transparent.btn-animation:focus {
        background-color: transparent;
    }

    .btn-animation.btn-animation--slide-to-right:before {
        top: 0;
        left: 0;
        right: 100%;
        bottom: 0;
    }

    .btn-animation.btn-animation--slide-to-right:hover:before,
    .btn-animation.btn-animation--slide-to-right:focus:before {
        right: 0;
    }

    .btn-animation.btn-animation--slide-to-left:before {
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
    }

    .btn-animation.btn-animation--slide-to-left:hover:before,
    .btn-animation.btn-animation--slide-to-left:focus:before {
        left: 0;
    }

    .btn-animation.btn-animation--slide-to-top:before {
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .btn-animation.btn-animation--slide-to-top:hover:before,
    .btn-animation.btn-animation--slide-to-top:focus:before {
        top: 0;
    }

    .btn-animation.btn-animation--slide-to-bottom:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 100%;
    }

    .btn-animation.btn-animation--slide-to-bottom:hover:before,
    .btn-animation.btn-animation--slide-to-bottom:focus:before {
        bottom: 0;
    }

    .btn-animation.btn-animation--slide-horizontal:before {
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
    }

    .btn-animation.btn-animation--slide-horizontal:hover:before,
    .btn-animation.btn-animation--slide-horizontal:focus:before {
        left: 0;
        right: 0;
    }

    .btn-animation.btn-animation--slide-vertical:before {
        top: 50%;
        left: 0;
        right: 0;
        bottom: 50%;
    }

    .btn-animation.btn-animation--slide-vertical:hover:before,
    .btn-animation.btn-animation--slide-vertical:focus:before {
        top: 0;
        bottom: 0;
    }
